@import url(https://fonts.googleapis.com/css?family=Fugaz+One);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
.container:hover {
    background-image: "green_cup.png";
    color: black;
}
.container2:hover {
    background-color: black;
    color:red;
}
#port:hover {
    font-size:24px;
    color: white;
}
#aboot:hover {
    font-size:24px;
    color: white;
}
#con:hover {
    font-size:24px;
    color: white;
}   
.ba {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
#hangman {
	width: 400px;
	height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#hangman2{
    margin-left: 224px;
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.hangmantext {
	font-size: 48px;
}
#trivia {
    width: 400px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#trivia2{
    margin-left: 224px;
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.triviatext {
    font-size: 48px;
}
#rpc {
    width: 400px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#rpc2{
    margin-left: 224px;
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.rpctext{
    font-size: 48px;
    margin-bottom: 50px;
}
#rpg {
    width: 400px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#rpg2{
    margin-left: 224px;
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.rpgtext{
    font-size: 48px;
    margin-bottom: 50px;
}
#widget {
    width: 400px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#widget2{
    margin-left: 224px;
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.widgettext {
    font-size: 48px;
}
.coming{
    margin-top: -198px;
    margin-bottom: 142px;
    transform:rotateZ(40deg);
    font-family: 'Sigmar One', cursive;
    text-shadow: 2px 2px 5px yellow;
    color: red;
    font-size: 50px;
}
#rutgers {
    margin-left: 395px;
    margin-top: -318px;
}
#jared {
    width: 400px;
    height: 75px;
    background-color: #68d6b3;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 100;
    text-align: center;
    font-size: 40px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color: #68d6b3;}
    25%  {background-color: blue;}
    50%  {background-color: #68d6b3;}
    100% {background-color: blue;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: #68d6b3;}
    25%  {background-color: blue;}
    50%  {background-color: #68d6b3;}
    100% {background-color: blue;}
}
#arrow {
	font-size: 40px;
}
#tag {
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
}
#jared:visited {
	color: white;
}
#arrow2 {
	font-size: 40px;
}
#jaredpic {
    width: 200px;
    height: 200px;
    background: red;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

#jaredpic:hover {
    width: 400px;
    height: 400px;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}
#footer {
    text-shadow: 2px 2px 5px blue;
    font-size: 16px;
    color: #68d6b3;
}
#stack {
	padding-left: 10px;
}